.buyermainarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buyersearchadd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buyersearch{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
