.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 280px;
    max-width: 280px;
    height: 100vh;
    height: 100%;
    background-color: #16171d;
    border-right: 1px solid var(--border);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebarbutton{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--text-dm);
    background-color: var(--bg-dm);
    text-decoration: none;
    border: 1px solid var(--border);
    margin: 10px;
}

.sidebarbutton.active {
  background-color: var(--active-bg-dm);
  color: var(--active-text-dm);
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    gap: 10px;
    width: 100%;
    height: 100vh;
}
.sidebar-header{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dm-h);
    margin: 10px 10px 10px 10px;
    padding: 10px 0;
}

.sidebar-menu .sidebarbutton:hover{
    background-color: var(--border);
    cursor: pointer;
}