.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 280px;
    background-color: #16171d;
    border-right: 1px solid var(--border);
}

.sidebarbutton{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    color: var(--text-dm);
    text-decoration: none;
    border: 1px solid var(--border);
    margin: 10px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dm-h);
    margin: 10px 10px 10px 10px;
    padding: 10px 0;
}

.sidebar-menu .sidebarbutton:hover{
    background-color: var(--border);
    cursor: pointer;
}