.mainlayout{
    display: flex;
    height: 100vh;
    flex-direction: row;
}
.mainarea{
    height: 100%;
    width: 100%;
    background-color: var(--bg);    
}

.header{
    height: 60px;
    width: 100%;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
}

.content{
    flex: 1;
    overflow-y: auto;
    background-color: var(--bg);
    padding: 20px;
}
